*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
}
.container {
}
.menu {
    margin: 20px 0 20px 100px; 
}
.startbtn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #27ad32;
    cursor: pointer;
}
.restartbtn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #ad2727;
    cursor: pointer;
}
.game {
}
.game__area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.game__area-you {
    border: 1px solid #000000;
    display: grid;
    width: 300px;
    height: 300px;
    background-color: #504b4b;

    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
}
.game__area-bot {
    border: 1px solid #000000;
    display: grid;
    width: 300px;
    height: 300px;
    background-color: #504b4b;

    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
}
.cellbot {
    background-color: #504b4b;
    border: 1px solid #000000;
    cursor: pointer;
    font-size: 20px;
    position: relative;
}
.cellyou {
    background-color: #504b4b;
    border: 1px solid #000000;
    cursor: pointer;
    position: relative;

}
.aliansships {
    background-color: #3538f0;
    border: 1px solid #000000;
    cursor: pointer;
}
.enemiships {
    background-color: #504b4b;
    border: 1px solid #000000;
    cursor: pointer;
}
.green {
    background-color: #2efd04;
    border: 1px solid #000000;
    cursor: pointer;
}
.kill {
    background-color: #e00e0e;
    border: 1px solid #000000;
}
.x::after {
    position: absolute;
    content: '';
    background-color: #000000;
    width: 2px;
    height: 40px;
    transform: rotate(45deg);
    left: 13px;
    top: -6px
}
.x::before {
    position: absolute;
    content: '';
    background-color: #000000;
    width: 2px;
    height: 40px;
    transform: rotate(-45deg);
    left: 13px;
    top: -6px
} 